.container {
    text-align: center;
    background: url("./images/night-sky_bg.jpg") no-repeat center/cover;
    min-height: 100vh;
    width: 100vw;
}

form {
    position: relative;
    display: flex;
    align-items: center;
    justify-content: center;
    width: clamp(275px, 50%, 700px);
    margin: 0 auto;
}

.link-input {
    padding: 0.5em 1.25em;
    font-size: 1.25rem;
    border-radius: 8px;
    width: 100%;
}

.overlay {
    position: fixed;
    top: 0%;
    left: 0%;
    background-color: rgba(0,0,0,0.8);
    width: 100%;
    height: 100%;
    opacity: 0;

    transition: 300ms ease opacity;
}

body.focus-form form {
    transform: scale(1.1);
}
body.focus-form .link-input {
    padding: 0.75em 1.5em;
    font-size: 1.5rem;
}
body.focus-form .overlay {
    opacity: 1;
}
/* //... */
form {
transition: 500ms cubic-bezier(0.175, 0.885, 0.32, 1.275) opacity;
}
.link-input {
    transition: 500ms cubic-bezier(0.165, 0.84, 0.44, 1) all;
}